*{
    box-sizing: border-box;
  }
  
  body{
    background:#272323;
    color:#d32727;
    line-height:1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:1em;
  }
  
  .container{
    max-width:1170px;
    margin-left:auto;
    margin-right:auto;
    padding:1em;
  }
  
  .brand{
    text-align: center;
  }
  
  .brand span{
    color:#fff;
  }
  
  .wrapper{
    box-shadow: 0 0 20px 0 rgba(194, 104, 104, 0.7);
  }
  
  .wrapper > *{
    padding: 1em;
  }
  
  .signin-info{
    background:#d32727;;
  }
  
  .signin-info h2, .signin-info ul{
    text-align: center;
    color: #f9feff;
    margin: 0rem 0 1rem 0;
  }
  
  .contact{
    background:#f9feff;
  }
  
  /* FORM STYLES */
  .contact form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
  }
  
  .contact form label{
    display:block;
    color: rgb(105, 102, 102);
  }
  
  .contact form p{
    margin:0;
  }
  
  .contact form .full{
    grid-column: 1 / 3;
  }
  
  .contact form button, .contact form input, .contact form textarea{
    width:100%;
    padding:1em;
    border:1px solid #cec3c3;;
  }
  
  .contact form button{
    background:#d32727;
    border:0;
    color: #f7f1f1;
    text-transform: uppercase;
  }
  
  .contact form button:hover,.contact form button:focus{
    background:#f16666;
    color:#fff;
    outline:0;
    transition: background-color 2s ease-out;
  }
  
  /* LARGE SCREENS */
  @media(min-width:700px){
    .wrapper{
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
  
    .wrapper > *{
      padding:2em;
    }
  
    .signin-info h2, .brand{
      text-align: center;
    }
    
    .signin-info h2{
      margin: 8rem 0 1rem 0;
    }

  }

  